<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <main>
        <h1>Send data to database</h1>
        <form action="/add-data" method="post">
            <input type="text" name="gonderilendata1">
            <input type="text" name="gonderilendata2">
            <button type="submit">send to database</button>
        </form>
        <form action="/view-database" method="GET">
            <p>click to view datas</p>
            <button type="submit">button</button>
        </form>
    </main>
</body>

</html>