<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ana sayfa</title>
</head>

<body>
    <main>
        <h1>VERITABANINA DATA GONDERME</h1>
        <form action="/add-data" method="post">
            <input type="text" name="gonderilendata1">
            <input type="text" name="gonderilendata2">
            <button type="submit">veritabanina gonder</button>
        </form>
        <form action="/view-database" method="GET">
            <p>girdiginiz datalari goruntulemek icin butona tiklayin!</p>
            <button type="submit">buton</button>
        </form>
    </main>
</body>

</html>